@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom base styles */
@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }
}

/* Custom utilities & animations */
@layer utilities {
  @keyframes slide-in {
    0% {
      transform: translateX(20px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .slide-in {
    animation: slide-in 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
}
